{template "content","header"}
<!-- start Slider -->
<div id="slider_background">
<div id="slider_holder">
<div id="slider-container">
        <div class="static left">
        <div class="relative">
        <div id="ss-left"></div>
        </div>
</div>
<div class="slider-wrapper">
        <div class="vendeirinho-slider">
        <div id="focus">
        {pc:content  action="lists" catid="23" order="id DESC" num="10" return="info"}
        <ul class="slides">
        {loop $info $v}              
        <li class="slide"><a href="{$v['url']}" title="{$v['title']}"><img src="{$v[thumb]}" alt="{$v['title']}"></a></li>
        {/loop}
        </ul>
        {/pc}
        </div>
    </div>
        <div class="static right">
        <div class="relative">
        <div id="ss-right"></div>
        </div>
    </div>					
</div>
</div>
</div>
<div class="clear"></div>
</div>

<!-- END Slider -->
<!-- start content -->
<div id="content_wrapper">
<div id="midcaption">
   	{pc:content  action="lists" catid="36" order="id DESC"  num="1" return="info"}
    {loop $info $r}
    <p><strong>公告：</strong>{$r['title']}</p>
    {/loop}
</div>
<div class="mid"><a href="{$r['url']}" class="button white">了解更多</a></div>
{/pc}
<div class="clearfix"></div>
<div id="lines" class="margin20"></div>
<div class="breadcrumbs">
<ul>
<li><span>项目/产品介绍</span></li>
</ul>
</div>
<div class="clear"></div>
<div id="line"></div>
<div id="content" style="width: 100%;">
	<div id="main_column">
      <div id="portfolio_box">
      {pc:content  action="lists" catid="6" order="id DESC" thumb="1" num="4" return="info"}
       <ul style="width:auto;">
       {loop $info $v}
          <li style="float:left;">
		  <div class="image">
          <a href="{$v['url']}" title="{$v['title']}"><img src="{thumb($v[thumb],220,140)}" alt="{$v['title']}"></a>
		  </div>
          <div class="project_info">
            <h2><a href="{$v['url']}" title="{$v['title']}">{str_cut($v['title'],20)}</a></h2>
            <h3>{str_cut($v['description'],30)}</h3>
          </div>
         </li>
         {/loop}
         </ul><!--END ul-->
         {/pc}
       </div>
</div>	
</div>
</div>
{template "content","footer"}